version: '3.8'

services:
  db:
    image: postgres:16-alpine 
    restart: always
    environment:
      POSTGRES_USER: postgres     
      POSTGRES_PASSWORD: 123       
      POSTGRES_DB: soinge           
    volumes:
      - ./postgres-data:/var/lib/postgresql/data 
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d soinge"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    
    ports:
      - "3001:3000" 
      
    environment:
      DATABASE_URL: "postgresql://postgres:123@db:5432/soinge"
      JWT_SECRET: 123 
 
    depends_on:
      db:
        condition: service_healthy
    restart: always

  frontend:
    build: 
      context: ./frontend 
      dockerfile: Dockerfile
    ports:
      - "3000:3000" 
    volumes:
      - ./frontend:/app 
      - /app/node_modules 
    depends_on:
      - backend