version: '3.8'

services:
  db:
    image: postgres:16-alpine 
    restart: always
    environment:
      POSTGRES_USER: postgres     
      POSTGRES_PASSWORD: 123       
      POSTGRES_DB: soinge           
    volumes:
      - ./postgres-data:/var/lib/postgresql/data 
    ports:
      - "5433:5432"